{% extends 'base.html.twig' %}
{% set title = 'Köszönjük visszajelzésed!' %}
{% block title %} {{ title }} {% endblock %}
{% block body %}
<div class="container">
    <h1 class="text-center">{{ title }}</h1>
</div>
{% endblock %}